Google Font*/

body {
	font-family: Open Sans, sans-serif;
}

/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*All HTML elements have default values for their "margin" and "padding" properties.GIving then the values of "0" makes it easier for us to manipulate
the size and positioning of elements*/

nav{
	/*shorthand property: Apply padding on all sides*/
	padding: 0.8rem;
	/*Creates spaces beetween the nav and the intro section*/
	/*The "margin-bottom property only chnages the space at the bottom of the element. THis is good for instance where a signle space is needed to be changed*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}
/*Selector Combinator:  Type_selector class_selector*/
nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

/* Even though we have access to the "padding" and "margin properties when centering text horizontally, the "text-align is still better to use. Manipulation the "padding" and "margin" might affect non-text HTML tags to be added in the future, which would return unexpected results */

/*We have used descendant selector*/
#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}
/*
- The selector used is a descendant selector. Even though there is only one button in the page, this is appropriate as it helps in code readability telling the developer that the button is located in the intro section.
- The "font-weight" property changes the thickness of the text
- The "padding" property is used here because we want to make the button larger by creating space from the text content to the borders of the button.
*/
#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}
#succeed-info h3 {
	margin-bottom: 0.5rem;
	margin-top: 1rem;
}

#succeed-info .card {
	/*inline-block allows the card to appear beside each other*/
	display: block;
	/*vertical align top allows our elements to be aligned at the top*/
	vertical-align: top;
	/*Allows for cars to have equal height that adjust with the content*/
	min-height: 80px;
	/*Use only 30% and not 33.33 to avoud overflow and horizontal scroll*/
	width: 100%;
	margin-left: 0.5rem;
	margin-left: 0.5rem;
}

footer {
	padding: 0.7rem;
}

footer-span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
#pre-footer {
	background-color: #002540;
	height: 10rem;
	color: white;
	vertical-align: bottom;
}

#pre-footer div{
	display: inline-block;
	min-height: 160px;
	width: 20%;
	text-align: left;
	margin: 1rem;
}

#pre-footer div h3 {
	padding: 0.1rem;
	text-align: left;
}
